# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment 
env/
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code config
.vscode/

# PyCharm config
.idea/

# System files
.DS_Store
Thumbs.db